POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=meta
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CLICKHOUSE_USER=<username>
CLICKHOUSE_PASSWORD=<password>
CLICKHOUSE_DB=telemetry
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123

REDIS_PASSWORD=<password>